<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Estoque</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  
  <link th:href="@{/materialize/css/materialize.css}" rel="stylesheet" media="screen,projection">
  <link th:href="@{/materialize/css/style.css}" rel="stylesheet" media="screen,projection">
  
  <!-- 
  <link href="materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  -->
  
  
  
  
  
  
  
</head>
<body>
   <div th:insert="~{menu :: menupag}"></div>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Estoque</h1>
        <div class="row center">
          <h5 class="header col s12 light">Sistema de estoque</h5>
        </div>
        
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="imagens/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


 

  <footer class="page-footer teal">
    <div class="container">
      
          <h5 class="white-text">Seletivo</h5>
          <p class="grey-text text-lighten-4">Seletivo do It Happens</p>


        </div>
  
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <script src="materialize/js/materialize.js"></script>
  <script src="materialize/js/init.js"></script>
 
  </body>
</html>
