<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<div th:fragment="menupag">
		<header>
			<nav role="navigation">
			    <div class="nav-wrapper container">
			      <a id="logo-container" href="/" class="brand-logo">Logo</a>
			      <ul class="right hide-on-med-and-down">
			        <li><a href="/listaPedidos">Pedidos</a></li>
			        <li><a href="/listaUsuarios">Usuarios</a></li>
			        <li><a href="/listaFiliais">Filiais</a></li>
			        <li><a href="/listaClientes">Clientes</a></li>
			        <li><a href="/listagemProdutos">Produtos</a></li>
			        
			      </ul>
			
			      <ul id="nav-mobile" class="sidenav">
			      
			       <li><a href="/pedidoEstoque">Pedido</a></li>
			        <li><a href="/listaPedidos">Pedidos</a></li>
			        <li><a href="/listaUsuarios">Usuarios</a></li>
			        <li><a href="/listaFiliais">Filiais</a></li>
			        <li><a href="/listaClientes">Clientes</a></li>
			        <li><a href="/listaProdutos">Produtos</a></li>
			        
			      </ul>
			      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			    </div>
			</nav>
	  	</header>
		
		
		
	  <!--  Scripts-->
	  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	  <script src="materialize/js/materialize.js"></script>
	  <script src="materialize/js/init.js"></script>
	  
	  <!--JavaScript at end of body for optimized loading-->
	  <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
  </div>
	
</body>
</html>
